.hash-item {
  width: 20%;
  min-height: 40px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: #8080808f;
  border-radius: 5px;
  margin: 10px auto;
}

.hash-item:hover {
  cursor: pointer;
}
