.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  background-color: #a9a9a929;
  border: none;
  border-radius: 5px;

  .list-toggle {
    width: 20%;
    background-color: #1486d799;
    border: none;
    border-radius: 5px;
    margin: 20px 20px 0 auto;
    font-size: 16px;
  }

  .list-toggle:hover {
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin-bottom: 0;
  }

  .list-hidden {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
